

<title>图书列表</title>

<script type="text/html" template>
    <link rel="stylesheet" href="{{ layui.setter.base }}style/template.css?v={{ layui.admin.v }}-1" media="all">
</script>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>页面</cite></a>
        <a><cite>图书列表</cite></a>
    </div>
</div>

<div class="layui-fluid layadmin-cmdlist-fluid">
    <div class="layui-row layui-col-space10">
        <div class="layui-col-md2 layui-col-sm4">
            <div class="cmdlist-container">
                <a href="javascript:;">
                    <script type="text/html" template>
                        <img src="{{ layui.setter.base }}style/res/template/test.jpg" lay-event="desc">
                    </script>
                </a>
                <a href="javascript:;">
                    <div class="cmdlist-text">
                        <p class="info">白帽子讲Web安全（纪念版） 安全从业标配红宝书 中国原创技术书大奖 阿里P10天才黑客名著</p>
                        <div class="price">
                            <b>￥79</b>
                            <span style="float:right">
                                ¥<del>130</del>
                                <span>(0.0折)</span>
                            </span>
                        </div>
                        <div class="price">
                            <span>作者</span>
                            <span class="flow">中国传媒大学出版社</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="layui-col-md2 layui-col-sm4">
            <div class="cmdlist-container">
                <a href="javascript:;">
                    <script type="text/html" template>
                        <img src="{{ layui.setter.base }}style/res/template/test.jpg">
                    </script>
                </a>
                <a href="javascript:;">
                    <div class="cmdlist-text">
                        <p class="info">白帽子讲Web安全（纪念版） 安全从业标配红宝书 中国原创技术书大奖 阿里P10天才黑客名著</p>
                        <div class="price">
                            <b>￥79</b>
                            <span style="float:right">
                                ¥<del>130</del>
                                <span>(0.0折)</span>
                            </span>
                        </div>
                        <div class="price">
                            <span>作者</span>
                            <span class="flow">中国传媒大学出版社</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="layui-col-md2 layui-col-sm4">
            <div class="cmdlist-container">
                <a href="javascript:;">
                    <script type="text/html" template>
                        <img src="{{ layui.setter.base }}style/res/template/test.jpg">
                    </script>
                </a>
                <a href="javascript:;">
                    <div class="cmdlist-text">
                        <p class="info">白帽子讲Web安全（纪念版） 安全从业标配红宝书 中国原创技术书大奖 阿里P10天才黑客名著</p>
                        <div class="price">
                            <b>￥79</b>
                            <span style="float:right">
                                ¥<del>130</del>
                                <span>(0.0折)</span>
                            </span>
                        </div>
                        <div class="price">
                            <span>作者</span>
                            <span class="flow">中国传媒大学出版社</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="layui-col-md2 layui-col-sm4">
            <div class="cmdlist-container">
                <a href="javascript:;">
                    <script type="text/html" template>
                        <img src="{{ layui.setter.base }}style/res/template/test.jpg">
                    </script>
                </a>
                <a href="javascript:;">
                    <div class="cmdlist-text">
                        <p class="info">白帽子讲Web安全（纪念版） 安全从业标配红宝书 中国原创技术书大奖 阿里P10天才黑客名著</p>
                        <div class="price">
                            <b>￥79</b>
                            <span style="float:right">
                                ¥<del>130</del>
                                <span>(0.0折)</span>
                            </span>
                        </div>
                        <div class="price">
                            <span>作者</span>
                            <span class="flow">中国传媒大学出版社</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="layui-col-md2 layui-col-sm4">
            <div class="cmdlist-container">
                <a href="javascript:;">
                    <script type="text/html" template>
                        <img src="{{ layui.setter.base }}style/res/template/test.jpg">
                    </script>
                </a>
                <a href="javascript:;">
                    <div class="cmdlist-text">
                        <p class="info">白帽子讲Web安全（纪念版） 安全从业标配红宝书 中国原创技术书大奖 阿里P10天才黑客名著</p>
                        <div class="price">
                            <b>￥79</b>
                            <span style="float:right">
                                ¥<del>130</del>
                                <span>(0.0折)</span>
                            </span>
                        </div>
                        <div class="price">
                            <span>作者</span>
                            <span class="flow">中国传媒大学出版社</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="layui-col-md2 layui-col-sm4">
            <div class="cmdlist-container">
                <a href="javascript:;">
                    <script type="text/html" template>
                        <img src="{{ layui.setter.base }}style/res/template/test.jpg">
                    </script>
                </a>
                <a href="javascript:;">
                    <div class="cmdlist-text">
                        <p class="info">白帽子讲Web安全（纪念版） 安全从业标配红宝书 中国原创技术书大奖 阿里P10天才黑客名著</p>
                        <div class="price">
                            <b>￥79</b>
                            <span style="float:right">
                                ¥<del>130</del>
                                <span>(0.0折)</span>
                            </span>
                        </div>
                        <div class="price">
                            <span>作者</span>
                            <span class="flow">中国传媒大学出版社</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="layui-col-md2 layui-col-sm4">
            <div class="cmdlist-container">
                <a href="javascript:;">
                    <script type="text/html" template>
                        <img src="{{ layui.setter.base }}style/res/template/test.jpg">
                    </script>
                </a>
                <a href="javascript:;">
                    <div class="cmdlist-text">
                        <p class="info">白帽子讲Web安全（纪念版） 安全从业标配红宝书 中国原创技术书大奖 阿里P10天才黑客名著</p>
                        <div class="price">
                            <b>￥79</b>
                            <span style="float:right">
                                ¥<del>130</del>
                                <span>(0.0折)</span>
                            </span>
                        </div>
                        <div class="price">
                            <span>作者</span>
                            <span class="flow">中国传媒大学出版社</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="layui-col-md2 layui-col-sm4">
            <div class="cmdlist-container">
                <a href="javascript:;">
                    <script type="text/html" template>
                        <img src="{{ layui.setter.base }}style/res/template/test.jpg">
                    </script>
                </a>
                <a href="javascript:;">
                    <div class="cmdlist-text">
                        <p class="info">白帽子讲Web安全（纪念版） 安全从业标配红宝书 中国原创技术书大奖 阿里P10天才黑客名著</p>
                        <div class="price">
                            <b>￥79</b>
                            <span style="float:right">
                                ¥<del>130</del>
                                <span>(0.0折)</span>
                            </span>
                        </div>
                        <div class="price">
                            <span>作者</span>
                            <span class="flow">中国传媒大学出版社</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="layui-col-md2 layui-col-sm4">
            <div class="cmdlist-container">
                <a href="javascript:;">
                    <script type="text/html" template>
                        <img src="{{ layui.setter.base }}style/res/template/test.jpg">
                    </script>
                </a>
                <a href="javascript:;">
                    <div class="cmdlist-text">
                        <p class="info">白帽子讲Web安全（纪念版） 安全从业标配红宝书 中国原创技术书大奖 阿里P10天才黑客名著</p>
                        <div class="price">
                            <b>￥79</b>
                            <span style="float:right">
                                ¥<del>130</del>
                                <span>(0.0折)</span>
                            </span>
                        </div>
                        <div class="price">
                            <span>作者</span>
                            <span class="flow">中国传媒大学出版社</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="layui-col-md2 layui-col-sm4">
            <div class="cmdlist-container">
                <a href="javascript:;">
                    <script type="text/html" template>
                        <img src="{{ layui.setter.base }}style/res/template/test.jpg">
                    </script>
                </a>
                <a href="javascript:;">
                    <div class="cmdlist-text">
                        <p class="info">白帽子讲Web安全（纪念版） 安全从业标配红宝书 中国原创技术书大奖 阿里P10天才黑客名著</p>
                        <div class="price">
                            <b>￥79</b>
                            <span style="float:right">
                                ¥<del>130</del>
                                <span>(0.0折)</span>
                            </span>
                        </div>
                        <div class="price">
                            <span>作者</span>
                            <span class="flow">中国传媒大学出版社</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="layui-col-md2 layui-col-sm4">
            <div class="cmdlist-container">
                <a href="javascript:;">
                    <script type="text/html" template>
                        <img src="{{ layui.setter.base }}style/res/template/test.jpg">
                    </script>
                </a>
                <a href="javascript:;">
                    <div class="cmdlist-text">
                        <p class="info">白帽子讲Web安全（纪念版） 安全从业标配红宝书 中国原创技术书大奖 阿里P10天才黑客名著</p>
                        <div class="price">
                            <b>￥79</b>
                            <span style="float:right">
                                ¥<del>130</del>
                                <span>(0.0折)</span>
                            </span>
                        </div>
                        <div class="price">
                            <span>作者</span>
                            <span class="flow">中国传媒大学出版社</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="layui-col-md2 layui-col-sm4">
            <div class="cmdlist-container">
                <a href="javascript:;">
                    <script type="text/html" template>
                        <img src="{{ layui.setter.base }}style/res/template/test.jpg">
                    </script>
                </a>
                <a href="javascript:;">
                    <div class="cmdlist-text">
                        <p class="info">白帽子讲Web安全（纪念版） 安全从业标配红宝书 中国原创技术书大奖 阿里P10天才黑客名著</p>
                        <div class="price">
                            <b>￥79</b>
                            <span style="float:right">
                                ¥<del>130</del>
                                <span>(0.0折)</span>
                            </span>
                        </div>
                        <div class="price">
                            <span>作者</span>
                            <span class="flow">中国传媒大学出版社</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="layui-col-md2 layui-col-sm4">
            <div class="cmdlist-container">
                <a href="javascript:;">
                    <script type="text/html" template>
                        <img src="{{ layui.setter.base }}style/res/template/test.jpg">
                    </script>
                </a>
                <a href="javascript:;">
                    <div class="cmdlist-text">
                        <p class="info">白帽子讲Web安全（纪念版） 安全从业标配红宝书 中国原创技术书大奖 阿里P10天才黑客名著</p>
                        <div class="price">
                            <b>￥79</b>
                            <span style="float:right">
                                ¥<del>130</del>
                                <span>(0.0折)</span>
                            </span>
                        </div>
                        <div class="price">
                            <span>作者</span>
                            <span class="flow">中国传媒大学出版社</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="layui-col-md2 layui-col-sm4">
            <div class="cmdlist-container">
                <a href="javascript:;">
                    <script type="text/html" template>
                        <img src="{{ layui.setter.base }}style/res/template/test.jpg">
                    </script>
                </a>
                <a href="javascript:;">
                    <div class="cmdlist-text">
                        <p class="info">白帽子讲Web安全（纪念版） 安全从业标配红宝书 中国原创技术书大奖 阿里P10天才黑客名著</p>
                        <div class="price">
                            <b>￥79</b>
                            <span style="float:right">
                                ¥<del>130</del>
                                <span>(0.0折)</span>
                            </span>
                        </div>
                        <div class="price">
                            <span>作者</span>
                            <span class="flow">中国传媒大学出版社</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="layui-col-md2 layui-col-sm4">
            <div class="cmdlist-container">
                <a href="javascript:;">
                    <script type="text/html" template>
                        <img src="{{ layui.setter.base }}style/res/template/test.jpg">
                    </script>
                </a>
                <a href="javascript:;">
                    <div class="cmdlist-text">
                        <p class="info">白帽子讲Web安全（纪念版） 安全从业标配红宝书 中国原创技术书大奖 阿里P10天才黑客名著</p>
                        <div class="price">
                            <b>￥79</b>
                            <span style="float:right">
                                ¥<del>130</del>
                                <span>(0.0折)</span>
                            </span>
                        </div>
                        <div class="price">
                            <span>作者</span>
                            <span class="flow">中国传媒大学出版社</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="layui-col-md2 layui-col-sm4">
            <div class="cmdlist-container">
                <a href="javascript:;">
                    <script type="text/html" template>
                        <img src="{{ layui.setter.base }}style/res/template/test.jpg">
                    </script>
                </a>
                <a href="javascript:;">
                    <div class="cmdlist-text">
                        <p class="info">白帽子讲Web安全（纪念版） 安全从业标配红宝书 中国原创技术书大奖 阿里P10天才黑客名著</p>
                        <div class="price">
                            <b>￥79</b>
                            <span style="float:right">
                                ¥<del>130</del>
                                <span>(0.0折)</span>
                            </span>
                        </div>
                        <div class="price">
                            <span>作者</span>
                            <span class="flow">中国传媒大学出版社</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="layui-col-md12 layui-col-sm12">
            <div id="demo0"></div>
        </div>
    </div>
</div>
<script>
    layui.use('book/list',layui.factory('book/list'));
</script>