<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yz.admin.mapper.TAdminMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yz.admin.entity.TAdmin">
        <id column="a_id" property="aId" />
        <result column="a_uname" property="aUname" />
        <result column="a_pwd" property="aPwd" />
    </resultMap>

</mapper>
