/***** login *****/

body,html{
  height: 100%;
  width: 100%;
}
#LAY_app{
  height: 100%;
  width: 100%;
}
.yz_login_wrap{
  background:url(res/login/background01.png) no-repeat center;
  width: 100%;
  position:relative;
  height: 100%;
  color: #fff;
  background-size: cover;
}
.yz_login_wrap>div{
  position: absolute;
  top: 30%;
  right: 24%;
}
.yz_login_title{
  font-weight: 600;
  margin-bottom: 1.75rem;
  line-height: 40px;
  border-bottom: 1px solid #009688;
}
.yz_login_wrap .layui-form-item{
  margin-bottom: 1.75rem;
}

.yz_login_user,.yz_login_password{
  background: rgba(255,255,255,0.2);
  border-radius: 3px;
  height: 3rem;
}
.yz_login_wrap input{
  padding-left: 64px;
  border: 0;
  height: 3rem;
  color: #fff;
}
.yz_login_wrap .layui-form-checkbox span,.yz_login_wrap a{
  color: #fff;
}
.yz_login_user input{
  background:url(res/login/icon_01.png) no-repeat 20px center;
}
.yz_login_password input {
  background:url(res/login/icon_02.png) no-repeat 20px center;
}
.yz_loginBtn button{
  background: #0dc8cb;
  height: auto;
  line-height: 19px;
  padding: 13px 18px;
  font-size: 15px;
}
.yz_login_bottom{
  float: right;
  margin:10px 4px 0 0;
}
.yz_login_bottom a:first-child{
  margin-right: 10px;
}
.yz_login_bottom a:last-child{
  margin-left: 10px;
}